@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.linkButton {
  position: absolute; 
  bottom: 10px;      
  right: 1250px;       
  z-index: 50;        
}

.buttonImage {
  width: 300px; 
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
}

.linkButton:hover .buttonImage {
  animation: jump 0.6s ease-in-out;
}