.page {
  flex: 1;
  background-image: linear-gradient(#f5defd, var(--notebook-bg));
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.rightPage {
  padding-top: 70px;
  padding-bottom: 30px;
  border: 2px solid #725A6E;
  align-items: stretch;
}

.rightPage h2 {
  text-align: center;
  color: var(--header-color);
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-top: 0;
}

.projectContent {
  width: 100%;
  padding: 0 25px 20px;
  display: flex;
  flex-direction: column;
}

.projectContent h3 {
  text-align: center;
  font-size: 1.4rem;
  gap: 15px;
  margin: 15px 0 10px 0;
  color: var(--header-color);
}

.projectMedia {
  width: 100%;
  padding: 10px 0;
}

.videoContainer {
  position: relative;
  width: 100%;
  max-width: 560px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Centraliza o vídeo container */
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.projectTags {
  text-align: center;
  margin-bottom: 15px;
}

.tag {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  color: white;
  margin-right: 5px;
}

.tag.frontend { background-color: var(--marca-paginas); }
.tag.backend { background-color: var(--marca-paginas); }

.projectDescription {
  text-align: center;
  color: var(--text-color);
  flex-grow: 1;
  max-height: 190px;
  overflow-y: auto; 
  padding-right: 10px;
  font-size: 0.9rem;
  line-height: 1.7;
}

.projectDisplayArea {
  position: relative; 
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center; 
}

.technologiesSection {
  position: relative; 
  margin-top: 20px;
  text-align: center;
}

.techTitle {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.techIconsContainer {
  position: relative; 
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.techIcon {
  width: 40px; 
  height: 40px;
  padding-bottom: 25px;
  object-fit: contain;
}

.techImage {
  display: block; 
  width: 100%;   
  height: auto;
  margin-top: -30px; 
  position: relative; 
  z-index: 1;
}

.navArrow {
  position: absolute; 
  top: 40%; 
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 30;
  transition: color 0.2s;
}

.navArrow:hover:not(:disabled) {
  color: var(--primary-pink);
}

.navArrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prev {
  left: -25px; 
}

.next {
  right: -25px; 
}