.book-container {
  display: flex;
  background: #ff9cc6;
  padding: 2rem;
  border-radius: 1.5rem;
}

.book-pages {
  display: flex;
  flex: 1;
  background: #f4eaf9;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.page {
  flex: 1;
  padding: 2rem;
  position: relative;
}

.about-wrapper {
  border-right: 4px solid #e8d1f3;
}

.projects-wrapper {
  /* entra sob a sobreposição do livro atrás */
}