@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --background-color: #fcefee;
  --notebook-bg: #F8F0FB;
  --primary-pink: #FE82AA;
  --marca-paginas: #F8AEC5;
  --secondary-pink: #ffa2c0;
  --text-color: #513E4E;
  --header-color: #333;
  --skills-bg: #fec2d6;
  --border-color: #f2a2e8;
  --notebook-spine-bg: #e0e0e0;
}

body {
  background-image: linear-gradient(#4F6DDF, #8D98EA);
  font-family: 'Itim', cursive;
  margin: 0;
  color: var(--text-color);
  padding: 10px;
}